.footerBack {
  background-color: black;
  height: 20vh;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
}
h3 {
  vertical-align: middle;
  display: inline-block;
  color: rgb(255, 233, 25);
}
